.footer-contact a {

position: relative;
display: inline-block;
margin-top: 5px;
padding: 10px 5px;
color: rgba(255, 255, 255, 0.842);
font-size: 12px;
text-decoration: none;
text-transform: uppercase;
overflow: hidden;
transition: .5s;
letter-spacing: 2px

}

.footer-contact a:hover {
background: #cfe0e8;
color: #8d9db6;
border-radius: 5px;
box-shadow: 0 0 5px #cfe0e8,
0 0 25px #cfe0e8,
0 0 50px #8d9db6,
0 0 100px #8d9db6;
}

.footer-contact a span {
position: absolute;
display: block;
}

.footer-contact a span:nth-child(1) {
top: 0;
left: -100%;
width: 100%;
height: 2px;
background: linear-gradient(90deg, transparent, #8d9db6);
animation: btn-anim1 1s linear infinite;
}


.footer-contact a span:nth-child(2) {
top: -100%;
right: 0;
width: 2px;
height: 100%;
background: linear-gradient(180deg, transparent, #8d9db6);
animation: btn-anim2 1s linear infinite;
animation-delay: .25s
}


.footer-contact a span:nth-child(3) {
bottom: 0;
right: -100%;
width: 100%;
height: 2px;
background: linear-gradient(270deg, transparent, #8d9db6);
animation: btn-anim3 1s linear infinite;
animation-delay: .5s
}



.footer-contact a span:nth-child(4) {
bottom: -100%;
left: 0;
width: 2px;
height: 100%;
background: linear-gradient(360deg, transparent, #8d9db6);
animation: btn-anim4 1s linear infinite;
animation-delay: .75s
}


@keyframes btn-anim1 {
0% {
left: -100%;
}
50%,100% {
left: 100%;
}
}

@keyframes btn-anim2 {
0% {
top: -100%;
}
50%,100% {
top: 100%;
}
}

@keyframes btn-anim3 {
0% {
right: -100%;
}
50%,100% {
right: 100%;
}
}


@keyframes btn-anim4 {
0% {
bottom: -100%;
}
50%,100% {
bottom: 100%;
}
}